/* Reset e Esconde Elementos Indesejados */
body.lagom {
    background-color: #F0F2F5 !important; /* Fundo da página */
    background-image: url('https://auth.staycloud.com.br/images/background-staycloud.png' ) !important; /* Imagem de fundo com linhas */
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
